/* Your CSS styles go here */
body {
    font-family: Arial, sans-serif;
}

#chart1, #chart2 {
    width: 800px;
    height: 300px;
    margin: 40px;
    border: 1px solid #333;
}

.area_income {
    fill: rgba(50, 150, 0, 1); /* Change this to the desired color */
}

.area_expenses {
    fill: rgba(150, 50, 0, 1); /* Light red with 50% transparency for the second area */
}


.tooltip {
    position: absolute;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    pointer-events: none; /* Ensure the tooltip doesn't interfere with mouse events */
    opacity: 0;
}

.vertical-line {
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 5, 5; /* Optional: Dashed line */
    pointer-events: none; 
}
